input, button, img {
  margin: 10px 15px 10px 15px;
}

.title{
  font-family: 'Medula One';
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  letter-spacing: 2px;
}

/*http://eskipaper.com/images/peaceful-wallpaper-3.jpg*/
body {
  background-image: url('https://i.imgur.com/tVnTCKD.jpg');
  min-height: 976px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}

/*div.background {
  background: url(klematis.jpg) repeat;
  border: 2px solid black;
} */

div.transbox {
  margin: 30px;
  background-color: rgba(255,255,255,0.3);
  /*border: 1px solid black;*/
  /*opacity: 0.6;*/
  /*filter: alpha(opacity=60); !* For IE8 and earlier *!*/
}


/*.parallax {*/
  /*!* The image used *!*/
  /*background-image: url("http://eskipaper.com/images/peaceful-wallpaper-3.jpg");*/

  /*!* Full height *!*/
  /*height: 100%;*/

  /*!* Create the parallax scrolling effect *!*/
  /*background-attachment: fixed;*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
/*}*/
